/* Custom Input Buttons
--------------------*/

input[type='checkbox'],
input[type='radio'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

label.custom-input-button {
    display: block;
    display:  inline-block;
    position: relative;
    padding: 1px 2px 1px 20px;

    margin: 2px 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    /*background: rgba(255,255,255,.1);*/

    color:  rgba(255,255,255,1);
    transition: color .3s;

}

label.custom-input-button:hover {
    color:  rgba(255,255,255,.5);
}


/* Checkbox 
--------------------*/

.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 10px;
    width: 10px;
    border-radius: 2px;
    background-color: rgba(255,255,255,0);
    border:  1px solid rgba(255,255,255,0.45);
    transition:  background .3s;
}


label.custom-input-button:hover input ~ .checkmark {
    background: #ccc;
    background: rgba(255,255,255,0.1);
}

input:checked ~ .checkmark {
    background: rgba(255, 255, 255, 0);
    border:  1px solid rgba(255,255,255,0.8);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

input:checked ~ .checkmark:after {
    display: block;
}

.checkmark:after {
    left: 2px;
    top: 2px;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 1.5px;
}



/* Radio
--------------------*/

.radio-button {
    position: absolute;
    top: 2px;
    left: 0;
    height: 10px;
    width: 10px;
    border:  1px solid rgba(255,255,255,0.45);
    border-radius: 50%;
    transition:  background .3s;
}

label.custom-input-button:hover input ~ .radio-button {
    background: rgba(255,255,255,0.1);
}

input:checked ~ .radio-button {
   background: rgba(255, 255, 255, 0);
   border:  1px solid rgba(255,255,255,0.8);
}

.radio-button:after {
 content: "";
 position: absolute;
 display: none;
}

input:checked ~ .radio-button:after {
 display: block;
}

.radio-button:after {
   top: 2px;
   left: 2px;
   width: 6px;
   height: 6px;
   border-radius: 50%;
   background: white;
}